.overlay .location .name {
    display: block;
    color:#f00;
    width:300px
}


.overlay .location .photo {
    float:right;
}

.overlay .location .adr .city-state{


    font-size:x-small;
    
}


.parent-InfoBox {
border: 3px solid #FF9C24;
}




