﻿body {
    font-size: 14px;
    font-family: 'Open Sans';
}

.carousel-indicators-image {
    position: absolute;
    bottom: -0.3em;
    left: 50%;
    right: 0;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    text-align: center;
    list-style: none;
    text-shadow: inherit;
}

.carousel-indicators-nav {
    display: none;
}

#carouselcontainer {
    background-color: #fff;
    border-width: 1px;
    width: auto;
    border: thin solid;
    border-color: #C0C0C0;
}

.carousel-nav-icon {
    display: none;
}

.carousel-nav-icon {
    display: none;
}

.carousel-image {
    position: relative;
    padding-bottom: 2.4em;
    margin: -1px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #C0C0C0;
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #47A3FF;
}

.carousel-image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    width: 100%;
    padding: .6em;
    text-align: start;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media screen and (min-width : 240px) {
    body {
        font-size: 0.85em;
    }

    .carousel-indicators-image {
        bottom: -0.9em;
    }
}

@media screen and (min-width : 320px) {
    body {
        font-size: 1em;
    }

    .carousel-indicators-image {
        bottom: -0.2em;
    }
}

@media screen and (min-width : 480px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width : 768px) {
    body {
        font-size: 1.4em;
    }
}

@media screen and (min-width : 1024px) {
    body {
        font-size: 1.6em;
    }
}
