﻿.text-muted1 {
    color: #777;
}

.ptm {
    margin-top: -10px;
    top: -17px;
    left: 147px;
}

.lastmitedial {
    font-family: 'Open Sans';
    font-size: 15px;
}

.footer {
    width: 100%;
    background-color: #EFEFEF;
}

.page-header {
    padding-bottom: 15px;
    margin: 10px;
    border-bottom: 1px solid #eee;
}

.textaffiliation {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.paddingpayment {
    margin-right: 10px;
}

.nav-foot > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #8a8585;
    background-color: #eee;
}

.sprite {
    background: url('../images/base64-new.png') no-repeat top left;
    width: 48px;
    height: 30px;
}

    .sprite.american-exp {
        background-position: 0px 0px;
    }

    .sprite.visa {
        background-position: -68px 0px;
    }

    .sprite.master-card {
        background-position: -136px 0px;
    }

    .sprite.discover {
        background-position: -204px 0px;
    }

.marginsp {
    margin-left: 5%;
}


.footerpara {
    margin-left: 20%;
}


.sprite1 {
    background: url('../images/base64-2-new.png') no-repeat top left;
    width: 48px;
    height: 48px;
}

    .sprite1.ge {
        background-position: 0px 0px;
    }

    .sprite1.qq {
        background-position: -63px 0px;
    }

    .sprite1.sm {
        background-position: -126px 0px;
    }

    .sprite1.er {
        background-position: -189px 0px;
    }


@media (max-width: 320px) {
    .lastmitedial {
        font-size: 8px;
    }

    .footer {
        font-size: 8px;
    }
}

@media (min-width:320px) and (max-width: 750px) {
    .footerpara {
        margin-left: 0%;
    }

    .sprite1 {
        float: left;
    }

    .lastmitedial {
        font-size: 10px;
    }

    .footer {
        font-size: 10px;
    }
}

@media (min-width: 750px) and (max-width: 970px ) {
    .lastmitedial {
        font-size: 12px;
    }

    .footer {
        font-size: 12px;
    }

    .sprite1 {
        float: left;
    }

    .alignRighto {
        padding-left: 110px;
    }

    .footer {
        font-size: 10px;
    }
}

@media (min-width: 970px) and (max-width: 1200px ) {
    .sprite1 {
        float: left;
    }

    .lastmitedial {
        font-size: 12px;
    }

    .alignRighto {
        padding-left: 128px;
    }

    .footer {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .lastmitedial {
        font-size: 15px;
    }

    .footer {
        font-size: 15px;
    }
}
