﻿
.navbar-default-changed {
    color: #fff;
    background-color: #3078CA;
}

.navbar-default .navbar-nav > li > a:first-child {
    padding-left: 0px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
    color: #eee;
}

.booking {
    background-color: #ffa500;
    color: #FFFFFF;
    border: #eb8f6e 2px solid;
    border-radius: 0;
    margin-top: 9px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}


.padup {
    padding-top: 0.5em;
}

.LastMinuteDeals {
    font-size: 20px;
    background-color: #e9e7e7;
    color: black;
    padding: 4px 10px;
    border: 1px solid #cac1c1;
}

span.glyphicon-clock {
    font-size: 25px;
    line-height: 30px;
    vertical-align: top;
}

.lastMDeals {
    padding-top: 5px;
    padding-bottom: 2px;
    padding-right: 2px;
    border: 1px solid #cac1c1;
    font-size: 18px;
}

.paddown {
    padding-bottom: 0.4em;
}

.btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 50%;
}

.prev-next {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}

.padrow {
    margin-left: 3px;
}

.home-btn {
    font-size: x-large;
    font-size: 28px;
    line-height: 38px;
    border: none;
    color: #fff;
}


.btn-sm,
.btn-group-sm > .btn {
    font-size: 10px;
    line-height: 1.5;
    margin: 1px 1px 1px 1px;
    border-radius: 50%;
    border-width: 2px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
    .navbar-default .navbar-nav > li > a:hover {
        background-color: #fff;
        color: #3078CA;
    }

.btn-sm, .btn-group-sm > .btn {
    font-size: 9px;
    padding: 5px 7px;
}

.text-carousel {
    position: relative;
    margin: -1px;
    padding-bottom: -0.6em;
}

@media screen and (max-device-width : 640px) {
    .bottom-pad {
        margin-bottom: 5px;
    }
}

@media screen and (max-device-width : 1024px) {
    .LastMinuteDeals {
        font-size: 18px !important;
    }
}

@media screen and (max-device-width : 768px) {
    .LastMinuteDeals {
        font-size: 18px !important;
    }

    .lastMDeals {
        font-size: 12px;
    }

    .btn-sm,
    .btn-group-sm > .btn {
        font-size: 6px;
        border-radius: 60%;
    }
}
