﻿.date-form {
    width: 68%;
    height: 5%;
}
.time-form {
    width: 55%;
    height: 5%;
}
.search-form {
    width: 100%;
    height: 6%;
}

.label-font {
    font-weight: normal;
}

.glyphicon-form {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modify-form {
    font-size: 50px;
    font-family: Tahoma,Verdana,Arial;
    background-color: #C0C0C0;
}

.source-form {
    margin-top: 0%;
    font-size: 15px;
    font-weight: normal;
}

.destination-form {
    font-weight: normal;
    margin-top: 0%;
}

.main-form {
    padding: 3%;
}

.search-options-form {
    margin-top: -5%;
    margin-left: 12%;
}

.go-button-form {
    background: #f88e27;
    border: 1px solid #d87114;
    color: #fff;
    cursor: pointer;
    padding-left: 6%;
    padding-right: 6%;
    margin: 2%;
}

.heading-form {
    font-size: 17px;
}

.border-search-form {
    border: solid thin lightgrey;
    padding: 1% 1% 1% 1%;
    margin: 10px,0px;
}

.main-content-margin-top {
    margin-top: 1%;
}

.departing-label {
    margin-top: 3%;
}
.children-label {
    margin-top: 3%;
}

.include-checkbox {
    margin-top: 0.01%;
    margin-left: 4%;
}

.additional-button-options {
    margin-top: 5%;
    margin-left: 4%;
}

.adult-input-group {
    width: 96%;
}

.senior-input-group {
    width: 93%;
}


@media only screen and (min-width : 768px) and (max-width : 1024px) {

    .search-form {
        margin-left: 0px;
    }
}

@media all and (max-width:767px) {
    input-text-form {
        width: 200px;
    }
}

@media all and (max-width:386px) {
}

@media all and (max-width:844px) {

    .search-form {
        margin-left: 0px;
    }
}

@media all and (min-width:845) and (max-width:1126px) {
}
