.large-font {
    font-size: 160%;
}

.accept-terms {
    font-size: 80%;
    font-family: arial;
    color: #727272;
}

.go-button {
    background: #f88e27;
    border: 1px solid #d87114;
    color: #fff;
    cursor: pointer;
    padding-left: 6%;
    padding-right: 6%;
    margin: 1%;
}

.sign-up-box {
    border: dashed;
    border-color: #A4A4A4;
    margin-top: 15px;
    margin-bottom: 20px;
}

.box-style-vacation {
    border-right: solid;
    border-color: #E6E6E6;
    border-width: 1px;
    color: #585858;
    margin-top: 19px;
    font-size: 16px;
}

.form-header-text-size {
    font-size: 26px;
}

.normal-text-size {
    font-size: 18px;
}

.anchor {
    color: #585858;
    text-decoration: none;
    font-size: 10px;
    margin-top: 5px;
}

    .anchor > img {
        margin-bottom: 7px;
    }

.row-margin-vacation {
    margin-right: 0px;
    margin-left: 0px;
}

@media (max-device-width : 1280px) {

    .form-header-text-size {
        font-size: 26px;
    }

    .normal-text-size {
        font-size: 16px;
    }

    .box-style-vacation {
        margin-top: 19px;
        font-size: 15px;
    }

    .image-padding-left {
        padding-left: 20px;
    }

    .image-padding-right {
        padding-right: 20px;
    }

    .anchor {
        font-size: 11px;
    }
}

@media (max-device-width : 1024px) {

    .form-header-text-size {
        font-size: 15px;
    }

    .normal-text-size {
        font-size: 11px;
    }

    .box-style-vacation {
        margin-top: 1px;
        font-size: 15px;
    }

    .image-padding-left {
        padding-left: 2px;
    }

    .image-padding-right {
        padding-right: 2px;
    }

    .anchor {
        font-size: 9px;
    }
}

@media (max-device-width : 640px) {

    .form-header-text-size {
        font-size: 21px;
    }

    .normal-text-size {
        font-size: 16px;
    }

    .box-style-vacation {
        margin-top: 19px;
        font-size: 16px;
    }

    .image-padding-left {
        padding-left: 2px;
    }

    .image-padding-right {
        padding-right: 2px;
    }

    .anchor {
        font-size: 9px;
    }
}

@media (max-device-width : 480px) {

    .form-header-text-size {
        font-size: 18px;
    }

    .normal-text-size {
        font-size: 14px;
    }

    .image-padding-left {
        padding-left: 15px;
    }

    .image-padding-right {
        padding-right: 15px;
    }

    .box-style-vacation {
        border-right: none;
        border-bottom: solid;
        border-color: #E6E6E6;
        border-width: 1px;
        color: #585858;
        margin-top: 2px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
    }

    .anchor {
        font-size: 9px;
    }
}
